@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
body {
    margin: 0;
    padding: 0;
  }
 
  header{
    background-image: url(./images/desktop/image-header.jpg);
    max-width: 100%;
    height:  600px;
    background-repeat: no-repeat;
    background-size: cover;
  }


   .logoNav{
    align-items: flex-start;
    display: flex;
    padding: 40px 0px 0px 30px;
  }
  nav {
    display: flex;
    align-items: center;
    height: 8vh;
  }
   a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    padding-top: 40px;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
  }
  .btnContact{
    margin-left: 20px;
    margin-top: 50px;
  }
  .contact{
    width: 95px;
    border: none;
    border-radius: 20px;
    height: 35px;
    background-color: hsl(0, 0%, 100%);
    color: black;
    cursor: pointer;
  }
  .contact:hover{
    background-color: hsla(0, 0%, 100%, 0.42);
    color: hsl(0, 0%, 100%);
  }
  .nav-list {
    list-style: none;
    display: flex;
    padding-left: 550px;
    padding-top: 45px;
    gap: 20px;
  }
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  .introduçaoHeader{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-top: 100px;
    gap: 30px;
    font-family: 'Fraunces', serif;
    z-index: -1;
  }
  .introduçaoHeader h1{
    color: hsl(0, 0%, 100%);
    font-size: 50px;
    font-family: 'Fraunces', serif;
    letter-spacing: 10px;
  }

  main{
    display: flex;
  }
  article{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }
  article h1{
    font-size: 30px;
    font-family: 'Fraunces', serif;
  }
  article p{
    opacity: 50%;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
  }
  article a{
    color: black;
    text-decoration:underline hsl(51, 100%, 49%) 4px;
    font-family: 'Fraunces', serif;
    letter-spacing: 2px;
  }
  #stand{
    color: black;
    text-decoration:underline  hsl(7, 99%, 70%) 4px;
    font-family: 'Fraunces', serif;
    letter-spacing: 2px;
  }
  picture{
    width: 715px;
    height: 400px;
  }
  .imgOvo{
    width: 100%;
    height: 100%;
  }
  #standImg{
    width: 610px;
    height: 400px;
  }
  #standImg img{
    width: 100%;
    height: 100%;
  }

  .Graphic{
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-attachment: fixed;
    background-size:750px;
    width: 610px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .Graphic h1{
    color: hsl(167, 40%, 24%);
    font-family: 'Fraunces', serif;
  }
  .Graphic p{
    font-family: 'Barlow', sans-serif;
    color: hsl(167, 40%, 24%);
  }
  .Orange{
    background-image: url(./images/desktop/image-photography.jpg);
    width: 655px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .Orange h1{
    color: hsl(198, 62%, 26%);
    font-family: 'Fraunces', serif;
  }
  .Orange p{
    font-family: 'Barlow', sans-serif;
    color: hsl(198, 62%, 26%);
  }

  aside{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 120px;
  }
  aside h1{
    font-family: 'Fraunces', serif;
    letter-spacing: 10px;
    opacity: 50%;
    font-size: 20px;
  }
  .clientes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    gap: 50px;
  }
  .emily img{
    border-radius: 100%;
    width: 80px;
    height: 80px;
  }
  .emily p{
    font-family: 'Barlow', sans-serif;
    opacity: 50%;
    margin-top: 50px;
  }
  .emily h2{
    font-family: 'Fraunces', serif;
    margin-top: 50px;
    font-size: 20px;
  }

  .Thomas img{
    border-radius: 100%;
    width: 80px;
    height: 80px;
  }
  .Thomas p{
    font-family: 'Barlow', sans-serif;
    opacity: 50%;
    margin-top: 50px;
  }
  .Thomas h2{
    font-family: 'Fraunces', serif;
    margin-top: 50px;
    font-size: 20px;
  }

  .jennie img{
    border-radius: 100%;
    width: 80px;
    height: 80px;
  }
  .jennie p{
    font-family: 'Barlow', sans-serif;
    opacity: 50%;
    margin-top: 50px;
  }
  .jennie h2{
    font-family: 'Fraunces', serif;
    margin-top: 50px;
    font-size: 20px;
  }

  .imgs{
    display: flex;
  }
  .imgs img{
    width: 315px;
    height: 100%;
  }
  .duplaCima{
    display: flex;
  }
  .duplaBaixo{
    display: flex;
  }

  footer{
    background-color: hsl(168, 57%, 70%);
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    gap: 50px;
  }
  footer ul{
    list-style: none;
    display: flex;
    gap: 50px;
  }
  footer a{
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    color: hsl(168, 34%, 41%);
  }
  footer a:hover{
    color: #fff;
  }
  .iconsFooter{
    display: flex;
    cursor: pointer;
    gap: 25px;
  }
  .iconsFooter svg:hover path{
    fill:#fff;
  }

  menu{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobileIcon{
    display: none;
    padding-left: 400px;
  }
  .mobileIcon button{
     background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      padding-top: 40px;
      
  }
  .mobileMenu{
    display: none;
  }
  .mobileMenu ul{
    list-style: none;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    width: 200px;
    height: 200px;
  }
  .mobileMenu a{
    opacity: 50%;
    color: black;
  }
  .mobileMenu button{
    width: 95px;
    border: none;
    border-radius: 20px;
    height: 35px;
    background-color: hsl(51, 100%, 49%);
    color: black;
    cursor: pointer;
  }

  @media screen and (max-width:700px) {
    .logoNav{
      padding-left: 20px;
    }
    .nav-list{
      display: none;
    }
    .btnContact{
      display: none;
    }
    .mobileIcon{
      display: block;
      padding-left: 30px;
    }
    .mobileMenu{
      display: none;
    }
    .introduçaoHeader h1{
      color: hsl(0, 0%, 100%);
      font-size: 30px;
      font-family: 'Fraunces', serif;
      letter-spacing: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    header{
    background-image: url(./images/mobile/image-header.jpg);
    max-width: 100%;
    height: 500px;
    background-position: center;
    }
    picture{
      width: 490px;
      height: 400px;
    }
    #standImg{
      width: 490px;
    }
   .clientes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    gap: 50px;
   }
   .Graphic{
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-attachment: fixed;
    background-size:750px;
    width: 490px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .Graphic h1{
    color: hsl(167, 40%, 24%);
    font-family: 'Fraunces', serif;
  }
  .Graphic p{
    font-family: 'Barlow', sans-serif;
    color: hsl(167, 40%, 24%);
  }
  .Orange{
    background-image: url(./images/desktop/image-photography.jpg);
    width: 490px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .Orange h1{
    color: hsl(198, 62%, 26%);
    font-family: 'Fraunces', serif;
  }
  .Orange p{
    font-family: 'Barlow', sans-serif;
    color: hsl(198, 62%, 26%);
  }
   .imgs{
    flex-direction: column;
   }
  .imgs img{
    width: 245px;
    height: 100%;
  }
  .duplaCima{
    display: flex;
  }
  .duplaBaixo{
    display: flex;
    width: 100%;
  }
  footer{
    background-color: hsl(168, 57%, 70%);
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    gap: 50px;
    margin-top: 150px;
  }
  footer ul{
    list-style: none;
    display: flex;
    gap: 50px;
  }
  footer a{
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    color: hsl(168, 34%, 41%);
  }
  footer a:hover{
    color: #fff;
  }
  .iconsFooter{
    display: flex;
    cursor: pointer;
    gap: 25px;
  }
  .iconsFooter svg:hover path{
    fill:#fff;
  }

  }

  @media screen and (max-width:600px) {
    .nav-list{
      display: none;
    }
    .btnContact{
      display: none;
    }
    .mobileIcon{
      display: block;
    }
    .mobileMenu{
      display: none;
    }
    .mobileIcon button{
      background-color: transparent;
       border: none;
       cursor: pointer;
       display: flex;
       padding-top: 40px;
       padding-left: 250px;
   }
   #mainTransform{
    flex-direction: column-reverse;
   }
   main{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
  }
  #mainGraphic{
    gap: 0px;
  }
  anside h1{
    font-size: 15px;
  }
  .logoNav{
    padding-left: 20px;
  }
  .nav-list{
    display: none;
  }
  .btnContact{
    display: none;
  }
  .mobileIcon{
    display: block;
    padding-left: 30px;
  }
  .mobileMenu{
    display: none;
  }
  .introduçaoHeader h1{
    color: hsl(0, 0%, 100%);
    font-size: 30px;
    font-family: 'Fraunces', serif;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  header{
  background-image: url(./images/mobile/image-header.jpg);
  max-width: 100%;
  height: 500px;
  background-position: center;
  }
  picture{
    width: 470px;
    height: 400px;
  }
  #standImg{
    width: 470px;
  }
 .clientes{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  gap: 50px;
 }
 .Graphic{
  background-image: url(./images/desktop/image-graphic-design.jpg);
  background-attachment: fixed;
  background-size:750px;
  width: 470px;
  height: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.Graphic h1{
  color: hsl(167, 40%, 24%);
  font-family: 'Fraunces', serif;
}
.Graphic p{
  font-family: 'Barlow', sans-serif;
  color: hsl(167, 40%, 24%);
}
.Orange{
  background-image: url(./images/desktop/image-photography.jpg);
  width: 470px;
  height: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.Orange h1{
  color: hsl(198, 62%, 26%);
  font-family: 'Fraunces', serif;
}
.Orange p{
  font-family: 'Barlow', sans-serif;
  color: hsl(198, 62%, 26%);
}
 .imgs{
  flex-direction: column;
 }
.imgs img{
  width: 240px;
  height: 100%;
  padding-left: 1px;
}
.duplaCima{
  display: flex;
}
.duplaBaixo{
  display: flex;
  width: 100%;
}
footer{
  background-color: hsl(168, 57%, 70%);
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 350px;
  gap: 50px;
  margin-top: 150px;
}
footer ul{
  list-style: none;
  display: flex;
  gap: 50px;
}
footer a{
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
  color: hsl(168, 34%, 41%);
}
footer a:hover{
  color: #fff;
}
.iconsFooter{
  display: flex;
  cursor: pointer;
  gap: 25px;
}
.iconsFooter svg:hover path{
  fill:#fff;
}
  }


  @media screen and (max-width:450px) {
    .logoNav{
      padding-left: 5px;
      padding-right: 20px;
    }
    .mobileIcon button{
      background-color: transparent;
       border: none;
       cursor: pointer;
       display: flex;
       padding-top: 40px;
       padding-left: 150px;
   }
    .nav-list{
      display: none;
    }
    .btnContact{
      display: none;
    }
    .mobileIcon{
      display: block;
      padding-left: 0px;
    }
    .mobileMenu{
      display: none;
    }
    .introduçaoHeader h1{
      color: hsl(0, 0%, 100%);
      font-size: 30px;
      font-family: 'Fraunces', serif;
      letter-spacing: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    header{
    background-image: url(./images/mobile/image-header.jpg);
    max-width: 100%;
    height: 500px;
    background-position: center;
    }
    picture{
      width: 490px;
      height: 400px;
    }
    aside h1{
      font-size: 15px;
    }
    #standImg{
      width: 490px;
    }
   .clientes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    gap: 50px;
   }
   .Graphic{
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-attachment: fixed;
    background-size:750px;
    width: 490px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .Graphic h1{
    color: hsl(167, 40%, 24%);
    font-family: 'Fraunces', serif;
  }
  .Graphic p{
    font-family: 'Barlow', sans-serif;
    color: hsl(167, 40%, 24%);
  }
  .Orange{
    background-image: url(./images/desktop/image-photography.jpg);
    width: 490px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .Orange h1{
    color: hsl(198, 62%, 26%);
    font-family: 'Fraunces', serif;
  }
  .Orange p{
    font-family: 'Barlow', sans-serif;
    color: hsl(198, 62%, 26%);
  }
   .imgs{
    flex-direction: column;
   }
  .imgs img{
    width:187px;
    height: 100%;
  }
  .duplaCima{
    display: flex;
  }
  .duplaBaixo{
    display: flex;
    width: 100%;
  }
  footer{
    background-color: hsl(168, 57%, 70%);
    max-width: 414px;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    gap: 20px;
    margin-top: 60px;
  }
  footer ul{
    list-style: none;
    display: flex;
    gap: 50px;
  }
  footer a{
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    color: hsl(168, 34%, 41%);
  }
  footer a:hover{
    color: #fff;
  }
  .iconsFooter{
    display: flex;
    cursor: pointer;
    gap: 25px;
  }
  .logof
  .iconsFooter svg:hover path{
    fill:#fff;
  }
  }
